.game{
    width: 255px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: auto;
    font-weight:350;
    margin-top: 200px;

}

.title{
    border-radius: 5px ;
    background-color: rgb(44, 43, 43);
    padding: 5px 0;
    margin: 5px 0;
}

span{
    color:rgb(140, 214, 204);
}

.square{
    border-radius: 5px ;
    width: 80px;
    height: 80px;
    background-color: rgb(44, 43, 43);
    float:left;
    margin: 2PX;
    font-size: 50PX;

}

.square:hover{
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}
